<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>body{background: -webkit-linear-gradient(bottom, #434745, #34462a);
      background-repeat: no-repeat;
      height: 48em;
      background-image: url('assets/img/mu2.jpg');
    background-size: cover;
      }</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body  >
  <div>
    <ul class="topnav" routerLinkActive="active">
      <li>
        <a  style="background-color: #88898e; " routerLink="/DisplayAll">DisplayAll</a>
      </li>
      <li>
        <a   routerLink="/Favorites">Favorite</a>
      </li>
      <li>
        <a   routerLink="/Recommend">Recommendation</a>
      </li>
      <li >
        <a (click)="myFunction() " >Logout</a>
    </li>
  
    </ul>
  </div>
<div class="container">
<br/>
<br/>
<br/>
    <table class="table table-dark table-hover">
      <thead>  <h4>Music List</h4>
      <tr>
        <th >Number</th>
        <th >SONGNAME</th>
        <th >SINGERNAME</th>
        <th >ADD</th>
      </tr></thead>
      <tbody>
      <tr *ngFor="let mus of musics;let i=index">
        <td  >{{mus.id }}</td>
        <td>{{mus.songName}}</td>
        <td>{{mus.singerName}}</td>
        <td> <button type="button" class="btn btn-primary" (click)="addMusic(mus)">Add To Favorite</button></td>
        
      </tr></tbody>
      <!-- <router-outlet></router-outlet> -->
    </table>
    <!-- <button type="button" class="btn btn-dark" routerLink="/StartingPage" >BACK</button> -->
  </div></body>