  <!DOCTYPE html>
  <html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <style>
    h1 {
      font-family: "Audiowide", Georgia, 'Times New Roman', Times, serif;
    }
    </style>
  </head>
  <body>
      <!--ul class="topnav" routerLinkActive="active">
        <li>  
          <a   routerLink="/Login">Login</a>
        </li>
  
        <li> 
          <a   routerLink="/Registration">SignUp</a>
        </li>
  
      </ul-->
  </body>
  </html>
  <router-outlet></router-outlet>