#header{
    margin: 0;
    width: 100%;
    position: fixed;
    overflow: hidden; 
  }
  
  /* css for all header items */
  .topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      position: fixed;
      overflow: hidden;
      background-color: rgb(114, 240, 11);
    }
    
    .topnav li {float: left;}
    
    .topnav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .topnav li a:hover:not(.active) {background-color: #111;}
    
    .para
    {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      position: fixed;
      overflow: hidden;
      background-color: rgb(249, 245, 4);

    }
    
    .topnav li.right {float: left;}
    
    @media screen and (max-width: 600px) {
      .topnav li.right, 
      .topnav li {float: none;
      
      }
    }